
body{
    background-color: rgb(31, 30, 30);
    margin: 0px;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white;
    min-width: 800px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 48px;
}

.hero{
    background-image: url("./img/hero.jpg");
    background-size: contain;
    padding: 25px 100px;
    min-height: 150px;
    display: flex;
    align-items: center;
}

h1{
    text-align: center;
    padding: 15px;
    margin: auto;
    font-family: monospace;
    font-size: 50px;
    color: rgb(152, 250, 6);
    
}
p{
    color: whitesmoke;
}
.about{

    margin: 25px 125px;
}
input[type="radio"]:checked {
    background-color: #e1a106;
    border: 3px solid lightgrey;
    appearance: none;
    border-radius: 50px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}